/* TODO global style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 8rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
}

li {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

/* TODO navbar section */

header {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav {
    width: 80%;
    min-height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0rem;
}
nav ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
}
.logo-text {
    flex: 3;
    z-index: 2;
    margin-left: 0.6rem;
    position: relative;
    cursor: pointer;
}
.leica-logo-round-bg {
    width: 6rem;
    height: 6rem;
    background-color: #f54538;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.order-bg {
    background-color: #f54538;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
/*TODO home section */
.home {
    background: radial-gradient(#525252, #131313);
}
.showcase {
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;
}
.h2-lieca {
    grid-column: 2/3;
    align-self: flex-end;
}
.home-img {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 110%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}
.info {
    grid-column: 4/5;
    grid-row: 3/4;
}
h3 {
    padding-bottom: 3rem;
}

/* TODO feature section */

.features-container {
    background-color: #323232;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
.wave {
    position: absolute;
    left: 0;
    bottom: -25%;
    width: 100%;
    z-index: -1;
}
.features {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-container {
    display: flex;
    justify-content: space-between;
    color: black;
}
.card {
    background: white;
    margin: 0rem 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}
.card h4 {
    margin: 2rem 0rem 1rem 0rem;
}
.card p {
    padding: 2rem;
}
.card img {
    object-fit: cover;
}

/* TODO coming soon section */

.soon {
    background: radial-gradient(#525252, #131313);
    min-height: 80vh;
    z-index: 0;
    position: relative;
}
.soon-camera,
.circle,
.h2-coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h2-coming-soon {
    z-index: 1;
    top: 25%;
}
.soon-camera {
    z-index: 2;
}

/*TODO footer section */

footer {
    background-color: black;
}
.footer-container {
    min-height: 10vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h1 {
    flex: 3;
}
footer ul {
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: space-between;
}

/* TODO make it responsive */

@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
    ul li {
        margin-left: 5rem;
    }
    .showcase {
        grid-template-columns: 10% 1fr 10%;
    }
    .home-img {
        width: 100%;
        object-fit: contain;
    }
    .home-img,
    h2,
    .info {
        grid-column: 2/3;
        text-align: center;
    }
    .features {
        align-items: center;
    }
    .h2-features {
        margin-top: 5rem;
    }
    .card-container {
        flex-direction: column;
        width: 100%;
    }
    .card {
        margin: 5rem 0rem;
    }
    .soon {
        overflow: hidden;
    }
    .soon img {
        width: 60%;
    }
    .h2-coming-soon {
        font-size: 5rem;
        text-align: center;
    }
    footer h1 {
        flex: 1;
    }
}
